Repository pknu-wap/WAPs, pull requests merged in 2024-10, with the labels that each got.

#7 feature : CORS설정 및 소셜로그인 구현
  server/build.gradle
  server/src/main/java/wap/web2/server/config/AppProperties.java
  server/src/main/java/wap/web2/server/config/SecurityConfig.java
  server/src/main/java/wap/web2/server/config/WebMvcConfig.java
  server/src/main/java/wap/web2/server/controller/AuthController.java
  server/src/main/java/wap/web2/server/controller/UserController.java
  server/src/main/java/wap/web2/server/exception/BadRequestException.java
  server/src/main/java/wap/web2/server/exception/OAuth2AuthenticationProcessingException.java
  server/src/main/java/wap/web2/server/exception/ResourceNotFoundException.java
  server/src/main/java/wap/web2/server/model/AuthProvider.java
  server/src/main/java/wap/web2/server/model/User.java
  server/src/main/java/wap/web2/server/payload/ApiResponse.java
  server/src/main/java/wap/web2/server/payload/AuthResponse.java
  server/src/main/java/wap/web2/server/payload/LoginRequest.java
  server/src/main/java/wap/web2/server/payload/SignUpRequest.java
  server/src/main/java/wap/web2/server/repository/UserRepository.java
  server/src/main/java/wap/web2/server/security/CurrentUser.java
  server/src/main/java/wap/web2/server/security/CustomUserDetailsService.java
  server/src/main/java/wap/web2/server/security/RestAuthenticationEntryPoint.java
  server/src/main/java/wap/web2/server/security/TokenAuthenticationFilter.java
  server/src/main/java/wap/web2/server/security/TokenProvider.java
  server/src/main/java/wap/web2/server/security/UserPrincipal.java
  server/src/main/java/wap/web2/server/security/oauth2/CustomOAuth2UserService.java
  server/src/main/java/wap/web2/server/security/oauth2/HttpCookieOAuth2AuthorizationRequestRepository.java
  server/src/main/java/wap/web2/server/security/oauth2/OAuth2AuthenticationFailureHandler.java
  server/src/main/java/wap/web2/server/security/oauth2/OAuth2AuthenticationSuccessHandler.java
  server/src/main/java/wap/web2/server/security/oauth2/user/KakaoOAuth2UserInfo.java
  server/src/main/java/wap/web2/server/security/oauth2/user/OAuth2UserInfo.java
  server/src/main/java/wap/web2/server/security/oauth2/user/OAuth2UserInfoFactory.java
  server/src/main/java/wap/web2/server/util/CookieUtils.java
Labels: feature, server, 성현

#8 chore : 최초 폴더 구성 및 환경 변수 파일 생성
  client/.gitignore
  client/src/assets/.gitkeep
  client/src/components/.gitkeep
  client/src/context/.gitkeep
  client/src/data/.gitkeep
  client/src/hooks/.gitkeep
  client/src/pages/.gitkeep
  client/src/utils/.gitkeep
Labels: chore, client, 윤희

#11 featre : Project, Image엔티티
  server/src/main/java/wap/web2/server/domain/Image.java
  server/src/main/java/wap/web2/server/domain/Project.java
Labels: feature, server, 성현

#13 feature: Comment, TeamMember, TechStack 도메인 개발 (#12)
  server/src/main/java/wap/web2/server/domain/Comment.java
  server/src/main/java/wap/web2/server/domain/Project.java
  server/src/main/java/wap/web2/server/domain/TeamMember.java
  server/src/main/java/wap/web2/server/domain/TechStack.java
  server/src/main/java/wap/web2/server/domain/TechStackType.java
Labels: feature, server, 균호

#15 refactor: TechStackType의 타입을 String으로 변경 (#14)
  server/src/main/java/wap/web2/server/domain/TechStack.java
  server/src/main/java/wap/web2/server/domain/TechStackType.java
Labels: refactor, server, 균호

#17 Modify/#16
  server/build.gradle
  server/src/main/java/wap/web2/server/controller/UserController.java
  server/src/main/java/wap/web2/server/domain/AuthProvider.java
  server/src/main/java/wap/web2/server/domain/User.java
  server/src/main/java/wap/web2/server/ouath2/config/AppProperties.java
  server/src/main/java/wap/web2/server/ouath2/config/SecurityConfig.java
  server/src/main/java/wap/web2/server/ouath2/controller/AuthController.java
  server/src/main/java/wap/web2/server/ouath2/payload/ApiResponse.java
  server/src/main/java/wap/web2/server/ouath2/payload/AuthResponse.java
  server/src/main/java/wap/web2/server/ouath2/payload/LoginRequest.java
  server/src/main/java/wap/web2/server/ouath2/payload/SignUpRequest.java
  server/src/main/java/wap/web2/server/ouath2/security/CurrentUser.java
  server/src/main/java/wap/web2/server/ouath2/security/CustomUserDetailsService.java
  server/src/main/java/wap/web2/server/ouath2/security/RestAuthenticationEntryPoint.java
  server/src/main/java/wap/web2/server/ouath2/security/TokenAuthenticationFilter.java
  server/src/main/java/wap/web2/server/ouath2/security/TokenProvider.java
  server/src/main/java/wap/web2/server/ouath2/security/UserPrincipal.java
  server/src/main/java/wap/web2/server/ouath2/security/oauth2/CustomOAuth2UserService.java
  server/src/main/java/wap/web2/server/ouath2/security/oauth2/HttpCookieOAuth2AuthorizationRequestRepository.java
  server/src/main/java/wap/web2/server/ouath2/security/oauth2/OAuth2AuthenticationFailureHandler.java
  server/src/main/java/wap/web2/server/ouath2/security/oauth2/OAuth2AuthenticationSuccessHandler.java
  server/src/main/java/wap/web2/server/ouath2/security/oauth2/user/KakaoOAuth2UserInfo.java
  server/src/main/java/wap/web2/server/ouath2/security/oauth2/user/OAuth2UserInfo.java
  server/src/main/java/wap/web2/server/ouath2/security/oauth2/user/OAuth2UserInfoFactory.java
  server/src/main/java/wap/web2/server/ouath2/util/CookieUtils.java
  server/src/main/java/wap/web2/server/repository/UserRepository.java
Labels: modify, server, 성현

#24 [Server] feature: TechStack 엔티티 생성 (#19)
  server/src/main/java/wap/web2/server/domain/TechStack.java
  server/src/main/java/wap/web2/server/domain/TechStackName.java
  server/src/main/java/wap/web2/server/domain/TechStackType.java
Labels: feature, server, 균호

#26 Refactor/#25
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/hooks/ProjectCreation/useProjectForm.js
  client/src/index.js
Labels: refactor, client, 윤희

#28 Feature/#27
  client/src/assets/ProjectCreation/InputForm.css
  client/src/assets/ProjectCreation/ProjectForm.module.css
  client/src/assets/ProjectCreation/RadioButton.css
  client/src/assets/ProjectCreation/YearSelector.css
  client/src/components/ProjectCreation/ImageUploader.js
  client/src/components/ProjectCreation/InputForm.js
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/components/ProjectCreation/RadioButton.js
  client/src/components/ProjectCreation/YearSelector.js
  client/src/hooks/ProjectCreation/useProjectForm.js
Labels: feature, client, 윤희

#30 feature : 기술스택 GET
  server/src/main/java/wap/web2/server/controller/TechStackController.java
  server/src/main/java/wap/web2/server/payload/response/TechStackInfoResponse.java
  server/src/main/java/wap/web2/server/payload/response/TechStackResponse.java
Labels: feature, server, 성현

#34 [Server] feature : 프로젝트 등록
  server/src/main/java/wap/web2/server/config/AwsS3Config.java
  server/src/main/java/wap/web2/server/controller/ProjectController.java
  server/src/main/java/wap/web2/server/domain/Image.java
  server/src/main/java/wap/web2/server/domain/Project.java
  server/src/main/java/wap/web2/server/domain/TeamMember.java
  server/src/main/java/wap/web2/server/domain/TechStack.java
  server/src/main/java/wap/web2/server/payload/ImageDto.java
  server/src/main/java/wap/web2/server/payload/TeamMemberDto.java
  server/src/main/java/wap/web2/server/payload/TechStackDto.java
  server/src/main/java/wap/web2/server/payload/request/ProjectCreateRequest.java
  server/src/main/java/wap/web2/server/repository/ProjectRepository.java
  server/src/main/java/wap/web2/server/servies/ProjectService.java
  server/src/main/java/wap/web2/server/util/AwsUtils.java
Labels: feature, server, 성현

#38 [Client] feature: 프로젝트 팀원 선택 컴포넌트 구현 및 UI 완성 (#36)
  client/src/assets/ProjectCreation/TeamMemberInputForm.css
  client/src/assets/ProjectCreation/TechStackSelector.css
  client/src/assets/ProjectCreation/YearSelector.css
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/components/ProjectCreation/TeamMemberInputForm.js
  client/src/components/ProjectCreation/TechStackList.js
  client/src/components/ProjectCreation/TechStackSelector.js
  client/src/hooks/ProjectCreation/useProjectForm.js
Labels: feature, client, 윤희

#23 feature : 메인틀 구현
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/App.js
  client/src/assets/img/WAP_white_NoBG.png
  client/src/components/ContentBox.js
  client/src/components/Header.js
  client/src/components/Menu.js
  client/src/pages/Home.js
  client/src/pages/menu/CreatePage.js
  client/src/pages/menu/Login.js
  client/src/pages/menu/Map.js
  client/src/pages/menu/MyPage.js
  client/src/pages/menu/Project.js
  client/src/pages/menu/Vote.js
  client/src/pages/project/AppPage.js
  client/src/pages/project/WebPage.js
Labels: feature, client, 수빈

#41 fix : 박스 디자인 수정
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/assets/img/cat.png
  client/src/components/ContentBox.js
  client/src/index.js
Labels: fix, client, 수빈

#42 [Client] feature : 프로젝트 생성 api 연동 (#39)
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/components/ProjectCreation/TechStackList.js
  client/src/components/ProjectCreation/TechStackSelector.js
  client/src/hooks/ProjectCreation/useProjectForm.js
Labels: feature, client, 윤희

#37 [Server] feature: Project 목록 불러오기 구현 완료 (#33)
  server/src/main/java/wap/web2/server/controller/ProjectController.java
  server/src/main/java/wap/web2/server/domain/Project.java
  server/src/main/java/wap/web2/server/payload/response/ProjectInfoResponse.java
  server/src/main/java/wap/web2/server/payload/response/ProjectsResponse.java
  server/src/main/java/wap/web2/server/repository/ProjectRepository.java
  server/src/main/java/wap/web2/server/service/ProjectService.java
Labels: feature, server, 균호

#45 modiify : 코드 충돌 해결
  server/src/main/java/wap/web2/server/controller/ProjectController.java
  server/src/main/java/wap/web2/server/payload/response/ProjectInfoResponse.java
  server/src/main/java/wap/web2/server/service/ProjectService.java
  server/src/main/java/wap/web2/server/servies/ProjectService.java
Labels: modify, server, 성현

#51 [Client] feature : 프로젝트 생성 페이지 구현 (#43)
  client/src/assets/ProjectCreation/InputForm.css
  client/src/assets/ProjectCreation/TeamMemberInputForm.css
  client/src/assets/ProjectCreation/TechStackSelector.css
  client/src/assets/ProjectCreation/YearSelector.css
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/components/ProjectCreation/TeamMemberInputForm.js
  client/src/components/ProjectCreation/TechStackList.js
  client/src/components/ProjectCreation/TechStackSelector.js
  client/src/hooks/ProjectCreation/useProjectForm.js
  client/src/index.js
  client/src/pages/ProjectCreation/ProjectCreationPage.js
  client/src/pages/menu/CreatePage.js
Labels: feature, client, 윤희
