Repository pknu-wap/WAPs, pull requests merged in 2024-11, with the labels that each got.

#55 [Client] refactor : css 파일 모듈화 (#54)
  client/src/assets/ProjectCreation/RadioButton.module.css
  client/src/assets/ProjectCreation/TeamMemberInputForm.module.css
  client/src/assets/ProjectCreation/TechStackSelector.module.css
  client/src/assets/ProjectCreation/TextInputForm.module.css
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/components/ProjectCreation/RadioButton.js
  client/src/components/ProjectCreation/TeamMemberInputForm.js
  client/src/components/ProjectCreation/TechStackSelector.js
  client/src/components/ProjectCreation/TextInputForm.js
Labels: refactor, client, 윤희

#58 [Client] feature : 프로젝트 상세 페이지 컴포넌트 구현 (#57)
  client/src/App.js
  client/src/assets/ProjectDetail/ProjectDetailForm.module.css
  client/src/assets/img/dog.png
  client/src/components/ContentBox.js
  client/src/components/Menu.js
  client/src/components/ProjectCreation/TechStackSelector.js
  client/src/components/ProjectDetail/ProjectDetailForm.js
  client/src/hooks/ProjectCreation/useProjectForm.js
  client/src/hooks/ProjectDetail/useProjectDetailForm.js
  client/src/index.js
  client/src/pages/ProjectCreation/ProjectCreationPage.js
  client/src/pages/ProjectDetailPage.js
  client/src/pages/menu/CreatePage.js
Labels: feature, client, 윤희

#59 [Server] feature: projectId로 프로젝트의 상세페이지를 가져오는 기능 추가 (#56)
  server/src/main/java/wap/web2/server/controller/ProjectController.java
  server/src/main/java/wap/web2/server/payload/response/ProjectDetailsResponse.java
  server/src/main/java/wap/web2/server/service/ProjectService.java
Labels: feature, server, 균호

#64 [Client] fix : 프로젝트 정보 받아오는 api 에러 해결 (#63)
  client/src/components/ProjectDetail/ProjectDetailForm.js
Labels: fix, client, 윤희

#66 [Client] feature : 프로젝트 생성페이지 인증번호 입력 칸 추가 (#65)
  client/src/assets/ProjectCreation/InputPin.module.css
  client/src/assets/ProjectCreation/ProjectForm.module.css
  client/src/assets/ProjectCreation/RadioButton.module.css
  client/src/assets/ProjectCreation/TextInputForm.module.css
  client/src/assets/ProjectCreation/YearSelector.css
  client/src/components/ProjectCreation/InputPin.js
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/hooks/ProjectCreation/useProjectForm.js
Labels: feature, client, 윤희

#67 Feature/#62
  server/src/main/java/wap/web2/server/controller/ProjectController.java
  server/src/main/java/wap/web2/server/controller/UserController.java
  server/src/main/java/wap/web2/server/domain/Project.java
  server/src/main/java/wap/web2/server/domain/User.java
  server/src/main/java/wap/web2/server/ouath2/config/SecurityConfig.java
  server/src/main/java/wap/web2/server/payload/request/ProjectCreateRequest.java
  server/src/main/java/wap/web2/server/payload/response/UserResponse.java
  server/src/main/java/wap/web2/server/service/ProjectService.java
  server/src/main/java/wap/web2/server/service/UserService.java
Labels: feature, server, 성현

#70 [Client] feature : 메인페이지 구현 (#69)
  client/src/App.css
  client/src/App.js
  client/src/assets/Main/Main.module.css
  client/src/index.js
  client/src/pages/MainPage.js
Labels: feature, client, 윤희

#74 [Client] fix : 디자인 관련 오류 수정 (#68)
  client/src/App.css
Labels: fix, client, 윤희

#76 [Server] fix: project_id로 projectDetails를 조회할 때 발생하는 Project 데이터의 재귀적 호출을 수정 (#75)
  server/src/main/java/wap/web2/server/payload/ImageDto.java
  server/src/main/java/wap/web2/server/payload/TeamMemberDto.java
  server/src/main/java/wap/web2/server/payload/TechStackDto.java
  server/src/main/java/wap/web2/server/payload/response/ProjectDetailsResponse.java
Labels: fix, server, 균호

#77 feature : 수정
  server/src/main/java/wap/web2/server/controller/ProjectController.java
  server/src/main/java/wap/web2/server/domain/Project.java
  server/src/main/java/wap/web2/server/payload/request/ProjectCreateRequest.java
  server/src/main/java/wap/web2/server/repository/ProjectRepository.java
  server/src/main/java/wap/web2/server/service/ProjectService.java
Labels: feature, server, 성현

#80 [Client] fix : 프로젝트 상세 정보 받아오는 과정에서의 오류 해결 (#79)
  client/src/components/ProjectDetail/ProjectDetailForm.js
  client/src/hooks/ProjectDetail/useProjectDetailForm.js
Labels: fix, client, 윤희

#84 [Client] chore: 프론트엔드 http 배포 관련 설정 (#83)
  client/_redirects
  client/src/components/ContentBox.js
Labels: chore, client, 윤희

#88 [Client] fix: 리다이렉트 파일 수정 (#87)
  client/_redirects
  client/src/components/ContentBox.js
Labels: fix, client, 윤희

#90 [Client] chore: 환경변수 파일에 프록시 서버 설정 (#89)
  client/src/components/ContentBox.js
Labels: chore, client, 윤희

#94 [Client] refactor: 리다이렉트 파일 위치 변경
  client/_redirects
  client/public/_redirects
Labels: refactor, client, 윤희

#96 [Client] refactor: 리다이렉트를 위해 프록시 주소 설정 (#95)
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/components/ProjectCreation/TechStackSelector.js
  client/src/components/ProjectDetail/ProjectDetailForm.js
Labels: refactor, client, 윤희

#98 [Client] feature : 세부적인 기능 추가 (#97)
  client/src/App.js
  client/src/assets/transition.css
  client/src/components/ContentBox.js
  client/src/components/Header.js
  client/src/pages/MainPage.js
Labels: feature, client, 윤희

#100 [Client] feature: 임의 투표페이지 생성 #99
  client/package.json
  client/src/App.js
  client/src/components/Vote/VoteForm.js
  client/src/pages/VotePage.js
Labels: feature, client, 윤희

#102 f[Client] fix: 배포 시 라우팅 경로 읽지 못하는 문제 해결 (#101)
  client/public/_redirects
Labels: fix, client, 윤희

#105 [Client] chore: 환경변수 파일 속 프록시 서버 주소 변경 (#104)
  client/src/assets/Main/Main.module.css
Labels: chore, client, 윤희

#107 feature : 등록 시 비밀번호
  server/src/main/java/wap/web2/server/controller/ProjectController.java
  server/src/main/java/wap/web2/server/payload/request/ProjectCreateRequest.java
  server/src/main/java/wap/web2/server/service/ProjectService.java
Labels: feature, server, 성현

#110 Feature/#109
  server/src/main/java/wap/web2/server/controller/ProjectController.java
  server/src/main/java/wap/web2/server/payload/request/ProjectCreateRequest.java
  server/src/main/java/wap/web2/server/service/ProjectService.java
Labels: feature, server, 성현

#114 [Server] feat: 프로젝트를 삭제하는 기능 추가 (#103)
  server/src/main/java/wap/web2/server/controller/ProjectController.java
  server/src/main/java/wap/web2/server/service/ProjectService.java
Labels: feature, server, 균호

#115 [Client] feature: 프로젝트 투표 페이지 구현 (#113)
  client/src/assets/Vote/ProjectVote.module.css
  client/src/components/Vote/VoteForm.js
  client/src/components/Vote/VoteProjectList.js
  client/src/hooks/Projectvote/useProjectVoteForm.js
Labels: feature, client, 윤희

#120 [Client] feature: 프로젝트 생성 부분에 비밀번호 필드 추가 (#119)
  client/src/components/ProjectCreation/InputPin.js
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/hooks/ProjectCreation/useProjectForm.js
Labels: feature, client, 윤희

#123 [Client] feature : 로그인 요청헤더에 토큰 추가 (#122)
  client/package-lock.json
  client/package.json
  client/src/components/ProjectCreation/ProjectForm.js
Labels: feature, client, 윤희

#126 [Client] chore: 프록시 서버에 일치하도록 api 경로 변경 (#125)
  client/src/App.js
  client/src/components/Login/Callback.js
  client/src/components/Login/ProtectedPage.js
Labels: chore, client, 윤희

#127 feature : 수정페이지 이동 검증
  server/src/main/java/wap/web2/server/controller/ProjectController.java
  server/src/main/java/wap/web2/server/exception/ResourceNotFoundException.java
  server/src/main/java/wap/web2/server/service/ProjectService.java
Labels: feature, server, 성현

#131 [Client] fix: 배포 환경에서 로그인되지 않는 문제 해결 (#130)
  client/src/components/Header.js
  client/src/pages/menu/Login.js
Labels: fix, client, 윤희

#134 modify : 프로젝트 목록보기 최신순으로
  server/src/main/java/wap/web2/server/repository/ProjectRepository.java
  server/src/main/java/wap/web2/server/service/ProjectService.java
Labels: modify, server, 성현

#136 [Client] modify: 모바일 화면에 크기가 알맞게 조정되도록 설정 (#135)
  client/public/WAP.ico
  client/public/WAP.png
  client/public/index.html
Labels: modify, client, 윤희

#137 [Server] feature : 투표 기능 구현 (#128)
  server/src/main/java/wap/web2/server/controller/VoteController.java
  server/src/main/java/wap/web2/server/domain/Project.java
  server/src/main/java/wap/web2/server/domain/TechStack.java
  server/src/main/java/wap/web2/server/domain/User.java
  server/src/main/java/wap/web2/server/payload/request/ProjectCreateRequest.java
  server/src/main/java/wap/web2/server/payload/request/VoteRequest.java
  server/src/main/java/wap/web2/server/repository/ProjectRepository.java
  server/src/main/java/wap/web2/server/repository/UserRepository.java
  server/src/main/java/wap/web2/server/service/UserService.java
  server/src/main/java/wap/web2/server/service/VoteService.java
Labels: feature, server, 균호

#139 [Server] refactor: 기존 Project 엔티티와 동일하도록 수정(#138)
  server/src/main/java/wap/web2/server/domain/Project.java
Labels: refactor, server, 균호

#141 [Client] modify : 프로젝트 등록 시 이미지 삭제 기능 추가 (#140)
  client/src/assets/ProjectCreation/ProjectForm.module.css
  client/src/components/ProjectCreation/ImageUploader.js
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/hooks/ProjectCreation/useProjectForm.js
Labels: modify, client, 윤희

#147 [Server] feature : 익명댓글 작성
  server/src/main/java/wap/web2/server/controller/CommentController.java
  server/src/main/java/wap/web2/server/domain/Comment.java
  server/src/main/java/wap/web2/server/ouath2/config/SecurityConfig.java
  server/src/main/java/wap/web2/server/payload/CommentDto.java
  server/src/main/java/wap/web2/server/payload/request/CommentCreateRequest.java
  server/src/main/java/wap/web2/server/repository/CommentRepository.java
  server/src/main/java/wap/web2/server/service/CommentService.java
Labels: feature, server, 성현

#149 feature : 댓글삭제
  server/src/main/java/wap/web2/server/controller/CommentController.java
  server/src/main/java/wap/web2/server/ouath2/config/SecurityConfig.java
  server/src/main/java/wap/web2/server/payload/request/CommentDeleteRequest.java
  server/src/main/java/wap/web2/server/service/CommentService.java
Labels: feature, server, 성현

#151 fix : 로그인 로그아웃 버튼 디자인
  client/src/App.css
  client/src/components/Header.js
  client/src/components/Login/Callback.js
  client/src/components/Menu.js
Labels: fix, client, 수빈

#153 [client] feature: 프로젝트 생성 및 투표 접근제한(#152)
  client/src/components/Menu.js
Labels: feature, client, 수빈

#154 [Client] feature : 프로젝트 투표 API 연동 (#150)
  client/src/components/Vote/VoteForm.js
Labels: feature, client, 윤희

#161 [Client] feature : 프로젝트 생성폼에서 팀원 삭제 버튼 구현 (#160)
  client/src/assets/ProjectCreation/TeamMemberInputForm.module.css
  client/src/components/ProjectCreation/ProjectFormNew.js
  client/src/components/ProjectCreation/TeamMemberInputForm.js
  client/src/hooks/ProjectCreation/useProjectForm.js
Labels: feature, client, 윤희

#163 [Client] feature: 돌아가기 플로팅 버튼 (#162)
  client/src/assets/Main/Main.module.css
  client/src/assets/ProjectCreation/ProjectForm.module.css
  client/src/assets/ProjectCreation/TeamMemberInputForm.module.css
  client/src/components/FloatingButton.js
  client/src/components/ProjectCreation/TeamMemberInputForm.js
  client/src/pages/ProjectPage.js
Labels: feature, client, 윤희

#167 [Client] fix : 프로젝트 수정 400 오류 해결 (#157)
  client/src/App.js
  client/src/assets/ProjectDetail/EditButton.module.css
  client/src/assets/ProjectDetail/ProjectDetailForm.module.css
  client/src/components/ProjectCreation/ProjectFormNew.js
  client/src/components/ProjectDetail/EditButton.js
  client/src/components/ProjectDetail/ProjectDetailForm.js
Labels: fix, client, 윤희

#169 [Client] modify : 사용의 편의성을 위한 기능 수정 (#168)
  client/src/App.css
  client/src/assets/Main/Main.module.css
  client/src/components/ProjectCreation/ProjectFormNew.js
  client/src/components/Vote/VoteForm.js
  client/src/pages/Home.js
  client/src/pages/ProjectDetailPage.js
  client/src/pages/VotePage.js
Labels: modify, client, 윤희

#172 [Client] modify: 로그인 시에만 수정버튼 보이도록 수정 (#170)
  client/src/App.css
  client/src/assets/Main/Main.module.css
  client/src/assets/ProjectCreation/ProjectForm.module.css
  client/src/assets/ProjectDetail/EditButton.module.css
  client/src/assets/ProjectDetail/ProjectDetailForm.module.css
  client/src/assets/Vote/ProjectVote.module.css
  client/src/components/ContentBox.js
  client/src/components/ProjectCreation/ImageUploader.js
  client/src/components/ProjectCreation/ProjectFormNew.js
  client/src/components/ProjectDetail/ProjectDetailForm.js
  client/src/components/Vote/VoteForm.js
  client/src/pages/MainPage.js
Labels: modify, client, 윤희

#174 [Client] feature: 투표 페이지 이동 제한 설정 (#173)
  client/src/App.css
  client/src/App.js
  client/src/components/Menu.js
  client/src/components/ProjectCreation/ProjectFormNew.js
  client/src/components/ProjectDetail/ProjectDetailForm.js
Labels: feature, client, 윤희

#178 [Client] modify : 프로젝트 정보 입력필드 글자 수 제한 수정 (#177)
  client/src/components/ProjectCreation/ProjectFormNew.js
Labels: modify, client, 윤희

#183 [Client] fix: 메뉴바 모바일 규격에 맞게 수정(#179)
  client/src/App.css
Labels: fix, client, 수빈

#185 [Server] modify : 수정페이지 기술스택 반환 제외
  server/src/main/java/wap/web2/server/payload/response/ProjectUpdateDetailsResponse.java
Labels: modify, server, 성현

#187 [Client] feature : 댓글 컴포넌트 구현 (#182)
  client/src/assets/Main/Main.module.css
  client/src/assets/ProjectDetail/Comments/Comments.module.css
  client/src/assets/ProjectDetail/Comments/CommentsList.module.css
  client/src/assets/ProjectDetail/ProjectDetailForm.module.css
  client/src/components/ProjectDetail/Comments/Comments.js
  client/src/components/ProjectDetail/Comments/CommentsList.js
  client/src/components/ProjectDetail/ProjectDetailForm.js
Labels: feature, client, 윤희

#189 [Client] modify : 기술 스택, 팀원 컴포넌트 css 수정 (#188)
  client/public/index.html
  client/src/App.js
  client/src/assets/ProjectCreation/TeamMemberInputForm.module.css
  client/src/assets/ProjectDetail/ProjectDetailForm.module.css
  client/src/components/ContentBox.js
  client/src/components/ProjectDetail/ProjectDetailForm.js
Labels: modify, client, 윤희

#190 [Client] feature : 프로젝트 필터(#186)
  client/src/assets/Filter/Type.css
  client/src/components/ContentBox.js
Labels: feature, client, 수빈

#193 [Client] modify : 투표 시작 시간 변경 (#192)
  client/src/App.js
  client/src/assets/Filter/Type.css
  client/src/assets/ProjectCreation/InputPin.module.css
  client/src/assets/ProjectCreation/ProjectForm.module.css
  client/src/assets/ProjectCreation/TeamMemberInputForm.module.css
  client/src/assets/ProjectDetail/Comments/Comments.module.css
  client/src/assets/ProjectDetail/Comments/CommentsList.module.css
  client/src/assets/ProjectDetail/ProjectDetailForm.module.css
  client/src/assets/img/cat.png
  client/src/components/ContentBox.js
  client/src/components/Menu.js
  client/src/components/ProjectCreation/YearSelector.js
  client/src/components/ProjectDetail/ProjectDetailForm.js
  client/src/components/ScrollToTop.js
  client/src/pages/MainPage.js
  client/src/pages/VotePage.js
Labels: modify, client, 윤희

#195 [Client] modify : 로그인 하지 않아도 목록 리스트 보이도록 수정 (#194)
  client/src/components/ContentBox.js
Labels: modify, client, 윤희

#197 [Server] modify : 댓글내용 허용 글자수 늘리기
  server/src/main/java/wap/web2/server/domain/Comment.java
Labels: modify, server, 성현

#199 [Client] fix: 여백 색 바꾸기(#191)
  client/public/index.html
  client/src/App.css
  client/src/assets/Map/Room.css
Labels: fix, client, 수빈

#201 [Client] fix : 배포 빌드 에러 해결 (#200)
  client/package-lock.json
  client/package.json
  client/public/index.html
Labels: fix, modify, client, 윤희

#203 [Client] fix : 배포 빌드 에러 해결 #202
  package-lock.json
  package.json
Labels: fix, client, 윤희

#206 [Client] modify : 플로팅버튼 다 삭제 (#205)
  client/src/pages/Home.js
  client/src/pages/ProjectDetailPage.js
  client/src/pages/ProjectPage.js
  client/src/pages/VotePage.js
Labels: modify, client, 윤희

#207 feature : 학기구분
  client/src/assets/Filter/Type.css
  client/src/components/ContentBox.js
Labels: feature, client, 수빈

#210 [Client] modify : 플로팅버튼 다 삭제 (#209)
  client/src/pages/Home.js
  client/src/pages/ProjectDetailPage.js
  client/src/pages/ProjectPage.js
  client/src/pages/VotePage.js
  client/src/pages/menu/Map.js
Labels: modify, client, 윤희

#211 [Server] refactor : 기술스택 리스트 추가
  server/src/main/java/wap/web2/server/domain/TechStackName.java
  server/src/main/java/wap/web2/server/domain/TechStackType.java
  server/src/main/java/wap/web2/server/payload/response/TechStackInfoResponse.java
Labels: refactor, server, 성현
