Repository pknu-wap/WAPs, pull requests merged in 2025-05, with the labels that each got.

#224 modify : 메인 페이지 api 경로 수정
  client/public/_redirects
  client/src/components/ContentBox.js
  client/src/components/ProjectCreation/TechStackSelector.js
  client/src/components/ProjectDelete/ProjectDelete.js
  client/src/pages/ProjectPage.js
Labels: modify, client, 윤희

#226 modify : 프록시 서버도된 api 경로를 그냥 서버 경로로 변경
  client/src/components/Login/Callback.js
  client/src/components/Login/ProtectedPage.js
  client/src/components/Menu.js
  client/src/components/ProjectCreation/ProjectForm.js
  client/src/components/ProjectCreation/ProjectFormNew.js
  client/src/components/ProjectCreation/TechStackSelector.js
  client/src/components/ProjectDetail/Comments/Comments.js
  client/src/components/ProjectDetail/Comments/CommentsList.js
  client/src/components/ProjectDetail/EditButton.js
  client/src/components/ProjectDetail/ProjectDetailForm.js
  client/src/components/Vote/VoteForm.js
  client/src/components/Vote/VoteProjectList.js
Labels: modify, client, 윤희

#236 [Client] modify : 댓글 작성 및 수정시 token 사용하도록 수정
  client/src/components/ContentBox.js
  client/src/components/Menu.js
  client/src/components/ProjectDetail/Comments/Comments.js
  client/src/components/ProjectDetail/Comments/CommentsList.js
  client/src/index.js
Labels: modify, client, 윤희

#237 [Client] modify : 댓글 alert창 수정
  client/src/components/ProjectDetail/Comments/Comments.js
  client/src/components/ProjectDetail/Comments/CommentsList.js
Labels: modify, client, 윤희

#239 [Server] feat: 투표 기능 구현
  server/src/main/java/wap/web2/server/project/controller/ProjectController.java
  server/src/main/java/wap/web2/server/project/dto/request/ProjectCreateRequest.java
  server/src/main/java/wap/web2/server/project/dto/response/ProjectDetailsResponse.java
  server/src/main/java/wap/web2/server/project/dto/response/ProjectUpdateDetailsResponse.java
  server/src/main/java/wap/web2/server/project/entity/Project.java
  server/src/main/java/wap/web2/server/project/repository/ProjectRepository.java
  server/src/main/java/wap/web2/server/project/service/ProjectService.java
  server/src/main/java/wap/web2/server/vote/controller/VoteController.java
  server/src/main/java/wap/web2/server/vote/dto/VoteInfoResponse.java
  server/src/main/java/wap/web2/server/vote/dto/VoteRequest.java
  server/src/main/java/wap/web2/server/vote/dto/VoteResultResponse.java
  server/src/main/java/wap/web2/server/vote/entity/Vote.java
  server/src/main/java/wap/web2/server/vote/repository/VoteRepository.java
  server/src/main/java/wap/web2/server/vote/service/VoteService.java
Labels: server

#257 modify : 동률 처리 수정
  client/src/assets/Vote/ProjectVote.module.css
  client/src/pages/VoteResultPage.js
Labels: modify, client, 윤희

#259 [Server] update project image
  server/src/main/java/wap/web2/server/aws/AwsUtils.java
  server/src/main/java/wap/web2/server/project/controller/ProjectController.java
  server/src/main/java/wap/web2/server/project/dto/request/ProjectRequest.java
  server/src/main/java/wap/web2/server/project/entity/Image.java
  server/src/main/java/wap/web2/server/project/entity/Project.java
  server/src/main/java/wap/web2/server/project/repository/ImageRepository.java
  server/src/main/java/wap/web2/server/project/repository/ProjectRepository.java
  server/src/main/java/wap/web2/server/project/service/ProjectService.java
Labels: server

#261 fix : 이미지 삭제시 삭제한 주소 리스트에 담아서 보내도록 수정
  client/src/components/ProjectCreation/ProjectFormNew.js
  client/src/components/ProjectDetail/ProjectDetailForm.js
  client/src/hooks/ProjectCreation/useProjectForm.js
Labels: fix, client, 윤희

#262 feat: 회원 구분 api 구현
  server/src/main/java/wap/web2/server/member/controller/UserController.java
  server/src/main/java/wap/web2/server/member/entity/Role.java
  server/src/main/java/wap/web2/server/member/entity/User.java
  server/src/main/java/wap/web2/server/member/service/UserService.java
  server/src/main/java/wap/web2/server/ouath2/config/SecurityConfig.java
  server/src/main/resources/application.yml
Labels: feature, server

#270 [Client] fix : 토큰 만료 여부 확인 추가
  client/src/components/Menu.js
  client/src/pages/ProjectPage.js
  client/src/pages/VotePage.js
Labels: fix, client, 윤희
