Repository pknu-wap/WAPs, pull requests merged in 2025-09, with the labels that each got.

#284 feat: 팀빌딩을 위한 SequentialTeamBuilder 구현
  server/build.gradle
  server/src/main/java/wap/web2/server/teambuild/dto/ApplyInfo.java
  server/src/main/java/wap/web2/server/teambuild/dto/RecruitInfo.java
  server/src/main/java/wap/web2/server/teambuild/service/SequentialTeamBuilder.java
  server/src/main/java/wap/web2/server/teambuild/service/TeamBuilder.java
  server/src/test/java/wap/web2/server/project/service/ApplyServiceTest.java
  server/src/test/java/wap/web2/server/teambuild/service/SequentialTeamBuilderTest.java
  server/src/test/java/wap/web2/server/vote/service/VoteServiceTest.java
Labels: feature, server, 균호, 강래

#285 프로젝트 지원 페이지 구현
  server/build.gradle
  server/src/main/java/wap/web2/server/ouath2/config/SecurityConfig.java
  server/src/main/java/wap/web2/server/project/controller/ProjectController.java
  server/src/main/java/wap/web2/server/project/dto/request/ProjectRequest.java
  server/src/main/java/wap/web2/server/project/repository/ProjectRepository.java
  server/src/main/java/wap/web2/server/project/service/ProjectService.java
  server/src/main/java/wap/web2/server/teambuild/controller/TeamBuildController.java
  server/src/main/java/wap/web2/server/teambuild/dto/TempProject.java
  server/src/main/java/wap/web2/server/teambuild/dto/request/ProjectAppliesRequest.java
  server/src/main/java/wap/web2/server/teambuild/dto/response/ProjectTemplate.java
  server/src/main/java/wap/web2/server/util/SemesterGenerator.java
  server/src/main/resources/templates/projects-application.html
Labels: feature, client, server, 균호

#295 feat: 팀 빌딩 관련 메뉴 추가
  client/src/App.js
  client/src/pages/menu/TeamBuildPage.js
  client/src/pages/menu/TeamBuildResultPage.js
Labels: feature, client, 강래

#300 feat: 뒤로가기 기능 구현
  client/src/pages/menu/TeamBuildPage.js
  client/src/pages/menu/TeamBuildResultPage.js
  server/src/main/java/wap/web2/server/ouath2/config/SecurityConfig.java
  server/src/main/java/wap/web2/server/project/service/ProjectService.java
  server/src/main/java/wap/web2/server/teambuild/controller/TeamBuildControllerV1.java
  server/src/main/resources/templates/projects-application-for-leader.html
  server/src/main/resources/templates/projects-application.html
  server/src/main/resources/templates/teams.html
Labels: feature, client, server, 강래

#304 포지션에 APP, EMBEDDED 추가
  server/src/main/java/wap/web2/server/teambuild/controller/TeamBuildControllerV1.java
  server/src/main/resources/file/applies.sql
  server/src/main/resources/file/recruits
  server/src/main/resources/templates/projects-application-for-leader.html
Labels: refactor, server, 균호

#306 fix: 페이지 이동 방식 변경
  client/src/pages/menu/TeamBuildPage.js
Labels: fix, client, 강래

#307 모집과 지원 페이지에 뒤로 가기 버튼을 추가
  server/src/main/resources/templates/projects-application-for-leader.html
  server/src/main/resources/templates/projects-application.html
Labels: feature, client, 균호

#308 /team-build 에서 자신의 페이지로 redirect하지 않도록 변경
  server/src/main/java/wap/web2/server/teambuild/controller/TeamBuildControllerV1.java
Labels: refactor, server, 균호, 강래

#312 feat: 모집 페이지에서 사용자의 입력을 유도하는 기능 구현
  server/src/main/resources/templates/projects-application-for-leader.html
Labels: feature, client, 강래

#316 feat: 모집을 한명도 하지 않아도 모집 제출 가능
  server/src/main/java/wap/web2/server/teambuild/dto/RecruitmentDto.java
  server/src/main/java/wap/web2/server/teambuild/entity/Position.java
  server/src/main/resources/templates/projects-application-for-leader.html
Labels: client

#318 feat: 이미 지원한 사용자는 apply page에 접근할 수 없도록 검증 구현
  server/src/main/java/wap/web2/server/teambuild/controller/TeamBuildControllerV1.java
  server/src/main/java/wap/web2/server/teambuild/dto/RecruitmentDto.java
  server/src/main/java/wap/web2/server/teambuild/repository/ProjectApplyRepository.java
  server/src/main/java/wap/web2/server/teambuild/service/ApplyService.java
  server/src/main/resources/templates/already-applied.html
Labels: feature

#329 feat: 모집과 지원을 CSV로 변환하는 기능 구현
  server/build.gradle
  server/src/main/java/wap/web2/server/teambuild/controller/TeamBuildControllerV2.java
  server/src/main/java/wap/web2/server/teambuild/repository/ProjectApplyRepository.java
  server/src/main/java/wap/web2/server/teambuild/repository/ProjectRecruitRepository.java
  server/src/main/java/wap/web2/server/teambuild/service/TeamBuildExportService.java
Labels: server
